# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist

# next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# misc
.DS_Store
.env*.local